---
http_interactions:
- request:
    method: post
    uri: <%= notification_api_base_url %>/api/v1/notifications/sms
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Www-Authenticate:
      - Digest realm="Zazo Notification", qop="auth", algorithm=MD5, nonce="MTQzODI1MDU3NTphZTRlMWE0NDhjMGViM2Y4YzFkYTNlMDMwM2I3ODAzMQ==",
        opaque="a650a4f7dcaa5fc01903b2b94613230f"
    body:
      encoding: UTF-8
      string: '{"status":"unauthorized"}'
  recorded_at: Thu, 30 Jul 2015 10:02:55 GMT
- request:
    method: post
    uri: http://notification.zazoapp.com/api/v1/notifications/sms
    body:
      encoding: UTF-8
      string: '{"mobile_number":"xxxxxxxxxxx","body":"quantifying the port won''t
        do anything, we need to index the wireless ADP matrix!"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Digest username="renotification", realm="Zazo Notification", algorithm=MD5,
        qop=auth, uri="/api/v1/notifications/sms", nonce="MTQzODI1MDU3NTphZTRlMWE0NDhjMGViM2Y4YzFkYTNlMDMwM2I3ODAzMQ==",
        nc=00000000, cnonce="a907ebaf91de23825fb1f0e9c71bf1b0", response="94afd2a67ca1a663aee70a436bd78689",
        opaque="a650a4f7dcaa5fc01903b2b94613230f"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"failure","errors":{"twilio":["The ''To'' number xxxxxxxxxxx
        is not a valid phone number."]},"original_response":{"code":21211,"message":"The
        ''To'' number xxxxxxxxxxx is not a valid phone number.","more_info":"https://www.twilio.com/docs/errors/21211","status":400}}'
  recorded_at: Thu, 30 Jul 2015 10:02:56 GMT
recorded_with: VCR 2.9.3
