---
http_interactions:
- request:
    method: get
    uri: <%= dataprovider_api_base_url %>/api/v1/fetch/users/filters/non_marketing
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Digest realm="Zazo DataProvider", qop="auth", algorithm=MD5, nonce="MTQ1NTU0NjM2ODo1N2ZkMTM1Mzg1NGQ4YTFmMjliM2RlYzU5MDU5ZmE0Zg==",
        opaque="822778b6350cbc116426dfdce7488072"
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"unauthorized"}'
  recorded_at: Mon, 15 Feb 2016 14:26:08 GMT
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/filters/non_marketing
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Digest username="renotification", realm="Zazo DataProvider", algorithm=MD5,
        qop=auth, uri="/api/v1/fetch/users/filters/non_marketing", nonce="MTQ1NTU0NjM2ODo1N2ZkMTM1Mzg1NGQ4YTFmMjliM2RlYzU5MDU5ZmE0Zg==",
        nc=00000000, cnonce="b32e01e5868f7c0f7dfaefa59206bb5d", response="27ccbd0aa40c40cda10645fd14a46f9e",
        opaque="822778b6350cbc116426dfdce7488072"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Ids:
      - '["7g9wykqtp6xuqu30uyaz","ocrpk93jquyw2jqzintw","hgcnrrbw6pnk4kgmsqu6","pycff2du1g3mq164z4r4","5kywg75x5ebydlzgw66m","o8ad8fssae4gf3gm028z","uwdfv09lghohn9ynbqo6","10ern0l21dpoxt152lec","6il0lotma27prjpn9774","2sttqgn2mweo168607ow"]'
    body:
      encoding: UTF-8
      string: '[{"invitee":"9JXY4DCIgStNUM7lz7Pl","inviter":"zcMPS4CCN54FgzOs1rXN","time_zero":"2015-11-22
        04:17:37"},{"invitee":"SkZq9Ka8ySyWTGOaHaDt","inviter":"Bl7xuQKEq20fUOH3jgHP","time_zero":"2015-10-10
        22:15:59"},{"invitee":"867dcmSmRoms0NVOuj5P","inviter":"zMrDakp9xnMok5PTLHd7","time_zero":"2015-09-04
        12:21:07"},{"invitee":"6OHwXK0pMkCeErADUety","inviter":"bRcFj1j1ePpdewDjjMbO","time_zero":"2016-01-19
        16:58:29"},{"invitee":"v6xufNvS8j2LwdmDrNK1","inviter":"prcCchGWyrFeNbuBuqGX","time_zero":"2015-12-22
        03:55:39"},{"invitee":"ceZvIMosFOYUQjM5z[...]
- request:
    method: post
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/ids_and_names
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Digest realm="Zazo DataProvider", qop="auth", algorithm=MD5, nonce="MTQ1NTU0NjM3Njo3YTc5ZDdkYTI4ZWI2NDI3Y2MzOTg0YTZkNjNjOTc2Mg==",
        opaque="822778b6350cbc116426dfdce7488072"
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"unauthorized"}'
  recorded_at: Mon, 15 Feb 2016 14:26:16 GMT
- request:
    method: post
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/ids_and_names
    body:
      encoding: UTF-8
      string: '{"users":["9JXY4DCIgStNUM7lz7Pl","zcMPS4CCN54FgzOs1rXN","SkZq9Ka8ySyWTGOaHaDt","Bl7xuQKEq20fUOH3jgHP","867dcmSmRoms0NVOuj5P","zMrDakp9xnMok5PTLHd7","6OHwXK0pMkCeErADUety","bRcFj1j1ePpdewDjjMbO","v6xufNvS8j2LwdmDrNK1","prcCchGWyrFeNbuBuqGX","ceZvIMosFOYUQjM5ziu8","THMpqJHb8KdDE6teTJ35","aenDt1jQ0wRZerEmbXmL","VJU1KFbj5ajJb9nVVI9i","rwolVrUNf7XpxhnKDB69","mqIN1xG3I6Db47ANcuhU","jdxwzQOTqz64FmTvZPoB","BJgjBd5530tzOfUndYw1","bNeIIVUvYw6Vile27Bvk","EpPQcLcnn5ej1BEiSMvl","tdzsCQpVavvSqJ7K3Uoz","tupWDwUfUV4cRQa[...]
- request:
    method: post
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/connection_ids
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Digest realm="Zazo DataProvider", qop="auth", algorithm=MD5, nonce="MTQ1NTU0NjM3OToxNzQxNTZkYTNkZGNhOGE5NGZlNTViMzAwMjkzM2EzZA==",
        opaque="822778b6350cbc116426dfdce7488072"
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"unauthorized"}'
  recorded_at: Mon, 15 Feb 2016 14:26:19 GMT
[...]
